/* style latest
*
* TAGS OVERALL
*******************************************/
#wrapper {
    overflow: hidden;
}

body {
    background: #222;
    color: #C9C9C9;
}

nav {
    width: 100vw!important;
}

main {
    margin-top: 50px; /* navbar height */
}

h1 {
    text-align: center;  
}

h1.landing {
    filter: blur(5px);
    animation: blur-in 2s forwards linear 1s 1;
}

*,
*:focus {
    outline: none;
}

@media screen and (max-width: 700px) {
    body {
        text-align: center;
    }
}

p {
    font-size: 1.1em;
}

button {
    border: none;
}

a:focus,
a:hover {
    text-decoration: none!important;
    color: white;
}

/*
* CLASSES OVERALL
*******************************************/
.solid-bg-1{
    background: #181818;
}

.solid-bg-2{
    background: #121212;
}

.solid-bg-3{
    background: #0A0A0A;
}

.link-btn {
    max-width: 200px;
    margin: auto;
    border-radius: 10px;
    transition-duration: .3s;
    color: #222;
}

.link-btn.light {
    border: #C9C9C9 solid 2px;
    color: #C9C9C9;
}

.link-btn:hover {
    filter: brightness(.8);   
}

.link-btn > a {
    color: #222;
    padding: 10px;
}
.link-btn > a:hover {
    text-decoration: none;
}

.in-focus {
    transform: scale(1.1);
}


/*
* OUTER BOX
***************/
#wrapper {
    width: 100%;
}

@media (min-width: 1000px) {
    #wrapper {
        margin: auto;
        width: 1000px;
    }
}


/*
*
* HEADER
*******************************************/
nav {
    transition-duration: .5s;
}

@media screen and (max-width: 599px) {
    .navbar-nav {
        margin: 0;
    }
    #theNav {
        box-shadow: 0px 10px 10px rgb(2, 1, 1);
    }
}

@media screen and (min-width: 600px) {
    .navbar-nav {
        height: 50px;
    }
}

.container-fluid {
    padding-left: 0;
}


/* LOGO */
.link_logotype{
    position: relative;
    left: 0;
    width: auto;
    height: 100%;
    padding: 5px !important;
    margin-left: 0!important;
    
    transform: translate(-110%);
    
    -webkit-animation: appear-to-right 1s ease-in-out normal 1 forwards; /* Safari & Chrome */
    -moz-animation: appear-to-right 1s ease-in-out normal 1 forwards; /* Firefox */
    -ms-animation: appear-to-right 1s ease-in-out normal 1 forwards; /* Internet Explorer */
    -o-animation: appear-to-right 1s ease-in-out normal 1 forwards;
    animation: appear-to-right 1s ease-in-out normal 1 forwards;
}

.link_logotype img {
    width: 100px;
    height: 40px;
}

/* fake links */
.navbar-nav > li > span {
    
}

@media (min-width: 600px) {
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* TOGGLE COLLAPSE BTN */
.navbar-toggle {
    transform: translate(110%);
    
    -webkit-animation: appear-to-left 1s ease-in-out normal 1 forwards; /* Safari & Chrome */
    -moz-animation: appear-to-left 1s ease-in-out normal 1 forwards; /* Firefox */
    -ms-animation: appear-to-left 1s ease-in-out normal 1 forwards; /* Internet Explorer */
    -o-animation: appear-to-left 1s ease-in-out normal 1 forwards;
    animation: appear-to-left 1s ease-in-out normal 1 forwards; 
}

/* NAVBAR SCROLL-TOGGLE */
.navHidden {
    transform: translateY(-50px);
}
.navShowing {
    transform: translateY(50px);
}


/*
* MAIN SECTIONS
******************************************/
.section-wrap.flex-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    align-content: space-between;
    align-items: stretch;
    
    padding: 0;
    
    min-height: 500px;
}

.flex-col {
    flex-direction: column!important;
}

.section-wrap.flex-cont > div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 700px) {
    .section-wrap.flex-cont > div {
        width: 100%!important;
    }
}

.section-wrap.flex-cont .title-cont {
    width: 300px;
}

@media screen and (max-width: 700px) {
    .section-wrap.flex-cont .title-cont {
        min-height: 300px;
    }
}

.section-wrap.flex-cont .title-cont > h2 {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .section-wrap.flex-cont{
        flex-direction: column;

    }
}

.section-wrap.flex-cont > * {
    flex: 1;
    padding: 10px;
}

.section-wrap .title-cont.guitargirl {
    background: #222 url(https://images.unsplash.com/photo-1542736670-248c89f615d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80) center no-repeat;
}

.section-wrap .title-cont.piano {
    background: #222 url(https://images.unsplash.com/photo-1514119412350-e174d90d280e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) center no-repeat;
}

.section-wrap .title-cont.mic {
    background: #222 url(https://images.unsplash.com/photo-1516280440614-37939bbacd81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) center no-repeat;
}

.section-wrap .title-cont {

    background-size: contain;
}

@media screen and (min-width: 701px) {
    .section-wrap.flex-rev {
        flex-direction: row-reverse;
    }
}

#intro-wrap {
    min-height: 300px;
}

#intro-wrap .title-cont {
    
}

#pres-wrap .link-btn {
    width: auto;
    height: auto;
    max-width: unset;
    max-height: unset;
    font-size: 2em;
    margin: 50px auto;
    color: #C9C9C9;
    background: #222;
    padding: 10px;
}


/*
* AUDIO
***********/
.flex-cont[data-song] {
    display: flex;
    justify-content: center;
    align-items: center;
}

a[data-song][aria-pressed="true"] {
    transform: scale(1.1);
}

a[data-song] {
    flex-wrap: wrap;
    color: #C9C9C9; 
}

a[data-song] i {
    font-size: 3em;
}

@media screen and (max-width: 700px) {
    a[data-song] {
        flex-direction: row!important;
        justify-content: space-around!important;
        align-items: center;
    }
    
}

#contact-wrap .title-cont {
    min-height: 200px;
}

/* IMGS */
.section-img {
    width: 100px;
    max-height: 100px;
}


/*
*   FOOTER
******************************/
#contact-wrap,
#contact-wrap .flex-cont{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

#contact-wrap .flex-cont{
    justify-content: center;
    align-items: center;
}

#contact-wrap .flex-cont > *,
#contact-ref legend {
    font-size: 18px;
    width: 540px;
    margin-top: 5px;
}

#contact-ref legend {
    margin: 5px auto;
    border: none;
    font-size: 100%;
    font-weight: 700;
    color: #C9C9C9;
}

#contact-ref label {
    font-size: 14px;
}

#contact-wrap .title-cont {
    width: 100%;
}

#contact-form input,
#contact-form textarea {
    border: none;
    border-radius: 10px;
    background: #181818;
    padding: 5px;
    margin-bottom: 10px;
}

#contact-submit {
    margin-top: 20px!important;
    font-weight: 700;
}

.contact-radio {
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    align-items: stretch;
    padding: 5px;
    margin-top: 0!important;
}

.contact-radio:first-of-type {
    margin-top: 5px!important;
}

.contact-radio > * {
    margin: 5px!important;
}

.contact-radio > input {
    margin-top: 10px!important;
    margin-right: 10px;
}

#contact-form .error {
    font-style: italic;
    color: hotpink;
    font-weight: 700;
}

@media screen and (max-width: 599px) {
    #contact-wrap .flex-cont > * {
        width: 80vw;
        max-width: 80vw;
    }
    #contact-name,
    #contact-email{
        width: 200px!important;
    }
    #contact-submit {
        width: 100px!important;
        height: 50px;
    }
}


/*
* CONTACT-MADE-PAGE
*************************/
#thanks-wrap {
    align-items: center;
    min-height: unset;
    
}

#thanks-wrap .title-cont {
    min-height: unset;
}

#thanks-wrap .material-cont {
    display: block;
    text-align: left;
    width: 200px!important; 
    background: whitesmoke;
    border-radius: 3px;
}

#thanks-wrap .material-cont p {
    font-size: .8em;
    margin: auto;
    color: #333;
    
}

#thanks-wrap .material-cont p span {
    font-style: italic;
    color: #222;
}


/*
* VIDEO
********/
* { 
    box-sizing:border-box;  
}

#pres-video-cont  { 
    text-align:center; 
    position:relative;  
    color:#ffffff; 
    width:100vw;  
    overflow:hidden; 
    padding: 0;
    background: #222 url(../media/ge_upp_screenShot.jpg);
}

.bg-image { 
    background-size:cover; 
    background-position:center center; 
}

.title-cont.overlay { 
    position:relative; 
    padding: 10px; 
    height:100%; 
    width:100%!important; 
    z-index:2; 
    display: flex; 
    align-items: center;
}

.inner { 
    padding-top:50px; 
}

h1 { 
    color:#ffffff; 
    margin:0 auto; 
}

.video_wrap { 
    height:100%; 
    width: 890px; 
    min-width: 100%; 
    position:absolute; 
    left: -2px; 
    overflow:hidden; 
    top:0; 
    padding: 0; 
}

#pres-video-player { 
    height: 100%; 
}

iframe { 
    height:600px; 
    position:absolute; 
    width: auto; 
    min-width: 100%; 
    top:0; 
    left:0; 
}

@media screen and (max-width: 700px) {
    .video_wrap {
        height: 399px;
    }
}


/*
* CURSOR
***********/
* {
    cursor: default!important;
}
.nav.navbar-nav>li>button,
.navbar-toggle,
.navbar-toggle *,
.link_logotype,
.link_logotype *,
.link-btn,
.link-btn *,
a[data-song],
a[data-song] *,
input[type="submit"],
input[type="radio"] {
    cursor: pointer!important;
}


/*
* TOOLTIPS
************/
/*.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}*/

.tooltipCont .theTooltip {
    min-width:100px; 
    max-width:300px;
    top:40px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#C9C9C9;
    background-color:#222;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px #000;
   
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltipCont:hover .theTooltip {
    visibility:visible; opacity:1;
}

.tooltipCont .theTooltip i {
    font-size: 2em;
}


